//CORE

* {
  font-family: $base-font-family;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.08rem;
    color: #373737;
    font-weight: 700;
    margin-top: 0;
}

h1 {
  font-size:3rem;
  letter-spacing:0;
  line-height: 2.2rem;
  color: black;
}

h2 {
  font-size: 2.2rem;
  line-height: 2.2rem;
  color: gray;
}

a {
  color: #25ae69;
  cursor: pointer;
  text-decoration: none;
}

#main {
  width: 100%;

  .header {
    width: 100%;

    #side-nav-toggle-button {
      width: 30px;
      margin-left: 95%;
      margin-top: 40px;
    }
  }
}

.content {
  display: flex;
}


.blurb {
  display: flex;
  margin: 350px auto;

  .details {
    padding-left:14px;
  }

  img {
    border-radius: 50%;
    width: 175px;
  }

  h1 {
    font-size: 2.3rem;
    margin-bottom: 10px;
    padding-top: 10px;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 20px;
  }
  a {
    font-size: 1.6rem;
    &:hover {
      text-decoration: underline;
    }
  }
}



/* The side navigation menu */
.side-nav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #f1f1f1; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the side-nav */

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    ul {
      list-style: none;
      padding-left: 10px;

      &.secondary-links {
        margin-bottom: 70px;
        li > a {
          font-size: 1.4rem;
          color: #818181;

          &:hover {
            color: #25ae69;
          }
        }
      }
    }
}

/* The navigation menu links */
.side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #505050;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.side-nav a:hover, .offcanvas a:focus{
    color: #25ae69;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

.education {
  display: flex;
  align-items: baseline;
  justify-content: center;

  .info {
    width: 600px;
    margin-right: 20px;
  }

  .grades {

    table {
      margin-top: 8px;
      margin-bottom: 30px;
    }

    .year-title {
      font-weight: 600;
      font-size: 1.2rem;
    }

    tr {
      td:first-child {
        width: 350px;
        padding-left: 10px;
      }
    }

  }


}













/* On smaller screens, where height is less than 450px, change the style of the side-nav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .side-nav {padding-top: 15px;}
    .side-nav a {font-size: 18px;}
}
