
.container {
  &.full-height {
    height:100vh;
    width: 100%;
  }
}

.full-size-row {
  height: 100%;
}

a:hover {
    color: #05a805;
    text-decoration: underline;
}

a {
    color: #05a805;
    text-decoration: none;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  height: 100%;
  background: #f3f3f3;
  position: fixed;
  padding-left: 17%;

  .blurb {
    display: flex;
    padding-top:50px;

    .image {
      img {
        width:115px;
        border-radius: 40%;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-transform: uppercase;
      padding-left:20px;

      h1 {
        font-size: 2.3rem;
        padding-top: 5px;
        letter-spacing: 1px;
        color: #6d6d6d;
        font-weight: 400;
      }

      h2 {
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 1px;
        color: gray;
      }

      h3 {
        font-size:1.6rem;
        letter-spacing: 1px;
        color: #00a700;
      }
    }
  }

  .links {
    width: 70%;
    padding-top:30px;

    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: #00a700;
      }
    }

    ul {
      list-style: none;
    }

    li {
      margin-bottom: 1rem;
      text-transform: uppercase;
      border-top: 1px solid #d0d0d0;
      padding: 10px 0px 0px 15px;
      letter-spacing: 2px;
      color: #676767;
      font-size: 1.3rem;

      &:last-child {
        border-bottom: 1px solid #d0d0d0;
        padding-bottom:8px;
      }
    }
  }
}

.content {
  margin-left:50%;
}


.primary-content {
    padding-top:9%;

    h1 {
      text-transform: uppercase;
      border-bottom: 1px solid #71cd71;
      margin-right: 16%;
    }
    h5 {
      font-size: 1.8rem;
    }
    h4 {
      font-size: 2rem;
      text-transform: uppercase;
      border-bottom: 1px solid #71cd71;
      padding-bottom: 4px;
    }

    &.work {
      .description {
        h4 {
          border-bottom: none;
          margin-bottom:0;
        }
        h5 {
          font-size:1.6rem;
          color: gray;
        }
      }

      .keyskills {
        margin-bottom:0;
        font-size: 1.5rem;
      }

      .details {
        h4 span {
          border-bottom: 1px solid #71cd71;
          padding-bottom: 3px;
        }
        :first-child {
          padding-top: 5px;
        }
        padding-bottom:40px;
      }

      p {
        font-size: 1.5rem;
      }

      .tech {
        columns: 3;
        list-style-type: disc;
      }

      li {
        margin-bottom: 0;
        p {
          font-size: 1.3rem;
          margin-bottom: 0;
        }
      }

    }




}

.education {
  h6 {
    font-size: 1.4rem;
  }

  .no-bottom {
    margin-bottom: 0;
  }

  .grades {
    padding-top: 2%;

    .year-title {
      font-size: 2rem;
      text-transform: uppercase;
      border-bottom: 1px solid #71cd71;
      padding-bottom: 4px;
    }

    table {
      width: 100%;

      td {
        width: 100%;
      }
    }
  }
}
