//CORE

h1, h2, h3, h4, h5, h6 {
    font-family: $base-font-family;
    letter-spacing: 0.08rem;
    color: #373737;
    font-weight: 700;
    margin-top: 0;
}

h1 {
  font-size:3rem;
  letter-spacing:0;
  line-height: 2.2rem;
  color: black;
}

h2 {
  font-size: 2.2rem;
  line-height: 2.2rem;
  color: gray;
}

a {
  color: #25ae69;
  cursor: pointer;
  text-decoration: none;
}

#main {
  width: 100%;

  .header {
    width: 100%;

    #side-nav-toggle-button {
      float: right;
      width: 30px;
      margin: 30px 70px;
    }
  }
}

.content {
  display: flex;
}


.blurb {
  display: flex;
  margin: 350px auto;

  .details {
    padding-left:14px;
  }

  img {
    border-radius: 50%;
    width: 175px;
  }

  h1 {
    font-size: 2.3rem;
    margin-bottom: 10px;
    padding-top: 15px;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 10px;
  }
  a {
    font-size: 1.6rem;
  }
}



/* The side navigation menu */
.side-nav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the side-nav */
}

/* The navigation menu links */
.side-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.side-nav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the side-nav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .side-nav {padding-top: 15px;}
    .side-nav a {font-size: 18px;}
}
