<div class="content">
  <h2 class="subheading">
    Education
  </h2>
  <h2 class="subheading">
    .
  </h2>
  <h2 class="subheading">
    Experience
  </h2>
  <h2 class="subheading">
    .
  </h2>
  <h2 class="subheading">
    Projects
  </h2>
  <h2 class="subheading">
    .
  </h2>
  <h2 class="subheading">
    <a href="https://medium.com/@chrisgregori/">Blog</a>
  </h2>
</div>