<div class="links">
    <a href="index.html">Home</a>
    <a href="projects.html">Projects</a>
    <a href="experience.html">Experience</a>
    <a href="education.html">Education</a>
    <a href={{social.blog}}>Blog</a>
</div>
