<div class="links">
  <ul>
    <li><a href="index.html">Projects</a></li>
    <li><a href="experience.html">Experience</a></li>
    <li><a href="education.html">Education</a></li>
    <li><a href="">Photography</a></li>
    <li><a href={{social.blog}}>Blog</a></li>
  </ul>
</div>
