<ul>
  <li>
    <a href="#">Projects</a>
  </li>
  <li>
    <a href="#">Experience</a>
  </li>
  <li>
    <a href="#">Education</a>
  </li>
  <li>
    <a href="https://medium.com/@chrisgregori/">
      Blog
    </a>
  </li>
</ul>

<ul class="secondary-links">
  <li>
    <a href="#">email</a>
  </li>
  <li>
    <a href="#">github</a>
  </li>
  <li>
    <a href="#">twitter</a>
  </li>
  <li>
    <a href="#">medium</a>
  </li>
  <li>
    <a href="#">instagram</a>
  </li>
</ul>
