<!DOCTYPE html>
<html>

  {{> head}}

  <body>
    <div class="container full-height">
      <div class="row full-size-row">
        <div class="side-bar six columns">
          <div class="eight columns">
            <div class="blurb">
              <div class="image">
                <img src="images/avatar.png" />
              </div>
              <div class="details">
                <h1>Chris Gregori</h1>
                <h2>Full-Stack Software Engineer</h2>
                <h3>
                  <div class="type-wrap">
                    <div id="typed-strings"></div>
                    <span id="typed" style="white-space:pre;"></span>
                  </div>
                </h3>
              </div>
            </div>
            {{> links}}
          </div>
        </div>
        <div class="five columns content">
          {{> education}}
        </div>
      </div>


    </div>
  </body>

</html>
