<!DOCTYPE html>
<html>

  {{> head}}

  <body>
    <div class="container full-height">
      <div class="row full-size-row">
        <div class="twelve columns offset-by-four">
          {{> experience}}
        </div>
      </div>
    </div>
    {{> cssref}}
  </body>

</html>
