<!DOCTYPE html>
<html>

  {{> head}}

  <body>
    <div id="main" class="main-page-content">

      <div class="header">
        <img id="side-nav-toggle-button" src="images/hamburger.svg"></img>
      </div>

      {{> work}}

    </div>

    </div>

    <div id="side-nav" class="side-nav">
      {{> links}}
    </div>


  </body>

</html>
