<!DOCTYPE html>
<html>

  {{> head}}

  <body>
    <div class="container">
      <div class="row">
        <div class="side-bar four columns">
          <div class="blurb">
            <div class="image">
              <img src="images/avatar.png" />
            </div>
            <div class="details">
              <h1>Chris Gregori</h1>
              <h2>Full-Stack Software Engineer</h2>
            </div>
          </div>
          <div class="links">
            <ul>
              <li>Education</li>
              <li>Education</li>
              <li>Education</li>
              <li>Education</li>
            </ul>
          </div>
        </div>
        <div class="eight columns">
          8
        </div>
      </div>


    </div>
  </body>

</html>
